<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.codemercenaries.girdthysword">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sword_dark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sword_dark_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BibleActivity"
            android:label="@string/title_activity_bible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RewardsActivity"
            android:label="@string/title_activity_rewards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code.codemercenaries.girdthysword.HomeActivity" />
        </activity>
        <activity
            android:name=".NewSectionActivity"
            android:label="@string/title_activity_new_section"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code.codemercenaries.girdthysword.HomeActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChapterListActivity"
            android:label="@string/title_activity_chapter_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerseListActivity"
            android:label="@string/title_activity_verse_list"
            android:parentActivityName=".ChapterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code.codemercenaries.girdthysword.ChapterListActivity" />
        </activity>
        <activity
            android:name=".DeleteSectionActivity"
            android:label="@string/title_activity_delete_section"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code.codemercenaries.girdthysword.HomeActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>